<div id="wrapper">
   <header id="site-header" class="" role="banner">
      <div id="header-wrapper">
         <div id="header-container" class="clearfix">
            <nav id="site-navigation" role="navigation">
            </nav>
         </div>
      </div>
   </header>
   <div id="main" class="clearfix">
      <div id="container" class="no-sidebar">
         <div id="content">
            <article class="clearfix" role="article">
               <div class="entry-content clearfix">
                  <section class="intro">
                      <div class="logo-container">
                         <%= image_tag('logo-intro.png', alt: 'XByte Team Logo') %>
                      </div>
                      <div class="text-wrapper">
                        <p>
                          We are a group of coders, developers and graphic designers.
                          Computer geeks and technology enthusiasts. <br />
                          You may found some of our works, just get in touch, we’d be pleased to work with you.
                        </p>
                      </div>
                  </section>
                  <section class="contact">
                    <div class="text-wrapper">
                      <a href="mailto:info@xbyte.team"> info@xbyte.team </a>
                    </div>
                  </section>
               </div>
            </article>
         </div>
      </div>
   </div>
   <footer class="site-footer">
      <div class="site-info">
        <div class="textwidget">
           Θ 2017 <a target="_self" href="http://xbyte.team/" title="XByte team website.">XByte Team</a>. No Right is Reserved &lt;3
        </div>
      </div>
   </footer>
</div>
